<a href="https://colab.research.google.com/github/mpomesar/BCN_Exercises/blob/main/BCN_Rent01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd

# 1.0 Call

In [2]:
# 1.0 Call
endpoint="https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=e96bf614-467b-40ab-91b9-e48a616ea775"
response=requests.get(url=endpoint)

# 2.0 Deal with response

In [34]:
# 2.0 Deal with response
body=response.json()

listFields=body.get("result")["fields"]
columnsList=[i["id"] for i in listFields]

listResults=body.get("result")["records"]
corpusList=[]
for idx, item in enumerate(listResults):
    corpusList.append([])
    for head in columnsList:
        corpusList[idx].append(item[head])

frame=pd.DataFrame(corpusList,columns=columnsList)
frame=frame[frame["Preu"]!="NA"]
frame=frame.astype({"Preu":"float"})

In [41]:
frame

,_id,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,1,2022,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),917.0
1,2,2022,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1181.6
2,3,2022,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),999.8
3,4,2022,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),1022.8
4,5,2022,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),957.9
...,...,...,...,...,...,...,...,...,...
95,96,2022,1,5,Sarrià-Sant Gervasi,23,Sarrià,Lloguer mitjà per superfície (Euros/m2 mes),17.5
96,97,2022,1,5,Sarrià-Sant Gervasi,24,les Tres Torres,Lloguer mitjà per superfície (Euros/m2 mes),17.6
97,98,2022,1,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Lloguer mitjà per superfície (Euros/m2 mes),14.2
98,99,2022,1,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Lloguer mitjà per superfície (Euros/m2 mes),14.5
99,100,2022,1,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Lloguer mitjà per superfície (Euros/m2 mes),14.8

In [46]:
frame.groupby(["Nom_Districte","Lloguer_mitja"]).mean(["Preu"]).sort_values(["Lloguer_mitja"])

,,_id,Preu
Nom_Districte,Lloguer_mitja,,
Ciutat Vella,Lloguer mitjà mensual (Euros/mes),2.500000,1030.300000
Eixample,Lloguer mitjà mensual (Euros/mes),7.500000,1058.650000
Gràcia,Lloguer mitjà mensual (Euros/mes),30.000000,915.180000
Horta-Guinardó,Lloguer mitjà mensual (Euros/mes),37.600000,762.560000
Les Corts,Lloguer mitjà mensual (Euros/mes),20.000000,1221.133333
Nou Barris,Lloguer mitjà mensual (Euros/mes),49.300000,653.780000
Sant Andreu,Lloguer mitjà mensual (Euros/mes),60.333333,752.483333
Sant Martí,Lloguer mitjà mensual (Euros/mes),68.500000,929.590000
Sants-Montjuïc,Lloguer mitjà mensual (Euros/mes),14.857143,837.300000
Sarrià-Sant Gervasi,Lloguer mitjà mensual (Euros/mes),24.500000,1281.166667
Ciutat Vella,Lloguer mitjà per superfície (Euros/m2 mes),75.500000,17.325000
Eixample,Lloguer mitjà per superfície (Euros/m2 mes),80.500000,14.266667
Les Corts,Lloguer mitjà per superfície (Euros/m2 mes),93.000000,14.366667
Sants-Montjuïc,Lloguer mitjà per superfície (Euros/m2 mes),87.857143,13.071429
Sarrià-Sant Gervasi,Lloguer mitjà per superfície (Euros/m2 mes),97.500000,15.150000